
/* RESOURCES */
/* https://stackoverflow.com/questions/53187065/clip-path-alternatives-for-reveal-text */

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* force width to include padding and borders */
}

:root {
    --background-color: #D8D8D8;
    --main-color: #565254;
    --accent-color: #0091FF;
    --header-font: 'Kavarian Serif';
    --body-font: 'Plus Jakarta Sans';
    --margin-tiny: 10px;
    --margin-small: 25px;
    --margin-medium: 35px;
    --margin-large: 50px;
    --margin-xlarge: 65px;
    --margin-xxlarge: 100px;
}

@font-face {
    font-family: 'Kavarian Serif';
    src: url('fonts/Kavarian.eot');
    src: url('fonts/Kavarian.eot?#iefix') format('embedded-opentype'),
         url('fonts/Kavarian.woff2') format('woff2'),
         url('fonts/Kavarian.woff') format('woff'),
         url('fonts/Kavarian.ttf')  format('truetype'),
         url('fonts/Kavarian.svg#Kavarian Serif') format('svg');
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('fonts/PlusJakartaSans.eot');
    src: url('fonts/PlusJakartaSans.eot?#iefix') format('embedded-opentype'),
         url('fonts/PlusJakartaSans.woff2') format('woff2'),
         url('fonts/PlusJakartaSans.woff') format('woff'),
         url('fonts/PlusJakartaSans.ttf')  format('truetype'),
         url('fonts/PlusJakartaSans.svg#Plus Jakarta Sans') format('svg');
}

html, body {
    height: 100%;
}

body {

    font-family: var(--body-font), sans-serif;
    background: var(--background-color);
    color: var(--main-color);
    padding: 40px 40px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
}

li {
    list-style: none;
}

.link {
    color: var(--main-color);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.link:hover, .link:focus {
    color: var(--accent-color);
}

/****************/
/* ===HEADER=== */
/****************/
header {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--margin-medium);
}

nav {
    font-family: var(--body-font);
    font-weight: bold;
}

.main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    font-size: 18px;
    font-weight: bold;
}

.logo {
    font-family: var(--header-font);
    font-size: 1.75rem;
    margin-bottom: var(--margin-tiny);
}

.first-name {
    margin-top: 0px;
}

.last-name {
    margin-top: -10px;
}

.logo a {
    color: var(--main-color);
    text-decoration: none;
}

.last-name {
    color: var(--accent-color);
}

.nav-link {
    margin-right: 22%;
}

.nav-link:last-of-type {
    margin-right: 0;
}

/**************/
/* ===MAIN=== */
/**************/
main {
    margin-bottom: var(--margin-xlarge);

    min-height: calc(100vh - 300px);
}

.hero {
    font-family: var(--header-font);
    font-size: 30px;
    line-height: 2.10rem;

    margin-bottom: var(--margin-large);
}

.btn {
    padding: 10px 32px;

    font-family: var(--header-font), serif;
    font-size: 18px;
    color: var(--background-color);
    
    background: var(--main-color);
    
    border: 2px solid var(--main-color);
    border-radius: 12px;

    cursor: pointer;
}

.btn:hover, .btn:focus {
    background: #E1E0E0;
    color: var(--main-color);
}

.btn-cta {
    text-decoration: none;
}

/****************/
/* ===FOOTER=== */
/****************/
.social-link {
    margin-right: 10%;
}

.social-link:last-of-type {
    margin-right: 0;
}

/***********************/
/* ===MEDIA QUERIES=== */
/***********************/
/* Desktop Styles */
@media only screen and (min-width: 755px) {
    body {
        max-width: 675px;
        margin: 0 auto;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin-bottom: var(--margin-xlarge);
    }

    .slide-text {
        opacity: 0;
    }

    .main-nav {
        margin-top: -14px;
    }

    .nav-link {
        margin-right: 65px;
    }

    .nav-link:active {
        text-decoration: underline;
    }

    .hero {
        font-size: 40px;
        margin-bottom: var(--margin-xlarge);
        line-height: 2.75rem;
    }

    .social {
        margin-top: var(--margin-xlarge);
    }

    main {
        margin-bottom: 0;
        min-height: calc(100vh - 300px);
    }
}